.tl_pw_recovery {
    padding: 20px 45px;
}

.tl_pw_recovery > p {
    border-top: 2px solid #ffffff;
    padding-top: 20px;
}

.tl_pw_recovery a.tl_submit.password_recovery_button {
    background-color: #f46c07;
    border: transparent;
    color: #fff;
    margin-top: 15px;
    display: block;
    padding: 12px 13px;
    height: auto;
}

.tl_pw_recovery a.tl_submit.password_recovery_button:hover {
    background-color: #0f1c26;
}
