// Styling for the password recovery link
#passwordRecovery {
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  visibility: hidden;

  &.show {
    visibility: visible;
    animation: visible .8s;
  }

  @keyframes visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  a.tl_submit.password_recovery_link {
    background-color: #f46c07;
    border: transparent;
    color: #fff;
    margin-top: 15px;
    display: block;
    padding: 10px 13px;
    height: auto;

    &:hover {
      background-color: #0f1c26;
    }
  }
}

.backend-password-recovery {
  > p {
    border-top: 2px solid #ffffff;
    padding-top: 20px;
  }

  .tl_require_password_link_form .formbody {
    padding-bottom: 45px;
  }

  .btn-link {
    margin: 0;
    float: initial;
    vertical-align: initial;
  }

  .button-primary {
    background-color: #31A64B;
    border-color: #31A64B;
    color: #ffffff;

    &:hover {
      background-color: #359345;
      border-color: #31A64B;
    }
  }

  .ms-0, .mt-0, .mb-0, me-0 {
    margin: 0 !important;
  }

  .ms-1, .mt-1, .mb-1, me-1 {
    margin: 4px !important;
  }

  .widget {
    padding-top: 10px;

    .tl_text {
      margin-top: 10px;
    }
  }

  .widget label, .main-inner p {
    line-height: 1.5;
  }

  .main-inner {
    padding: 45px;
  }

}
