<div class="tl_pw_recovery" id="passwordRecovery">
    <a class="tl_submit password_recovery_link" href="{{ href }}">{{ recoverPassword }}</a>
</div>

<script>
    {# Move password recovery box to the correct position #}
    document.addEventListener("DOMContentLoaded", () => {
        const pwRecoveryBox = document.getElementById('passwordRecovery');
        const elLocation = document.querySelector('.tl_login_form > .formbody');
        if (pwRecoveryBox && elLocation) {
            elLocation.append(pwRecoveryBox);
            pwRecoveryBox.classList.add('show');
        }
    });
</script>
